a, a:visited {
    color: #ffffff;
  }
  a:hover {
    color: #f694f8;
  }
header {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    width: 100%;
  }
h1, h2 {
    text-align: center;
}
p {
  text-align: justify;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    background: #000000;
    color: #fff;
  }
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
figcaption {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: #999;
}
video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
footer {
  margin-top: 100px;
  text-align: center;
}